<html>
    <head>
        {% include "header.html" %}
        <meta name="viewpoint" content="width=device-width, initial-scale=2">
        <link rel="stylesheet" href="http://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="templates/style1.css">
    </head>

    <body>
        <br/>
        <div class="w3-container w3-teal">
          <div>
            <h1>Working Title
                <button class="button">Login</button>
                <button class="button">Register</button>
            </h1>
          </div>
        </div>

            <p>Welcome to our game!</p>
            <h1>Sites:</h1>
            <ul style="list-style-type:disc">
            {% for page in pages %}
                <li>
                  <a href="{{ page.url }}">{{ page.name }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </body>
</html>
