<html>
    <head>
    </head>
    <body>
        <div id = "projected_daily_rate">
            {{error}}
        </div>

        <div id = "daily_saved">
        </div>

        <div id = "needs">
            {% for goal in goals %}
            <div class = "goal">
                <p>{{goal}}</p>

            </div>
            {% endfor %}
        </div>

        <div id = "wants">
            {% for goal in goals %}
            <div class = "goal">

            </div>
            {% endfor %}
        </div>
        </br>

        <div>
            <form method='post' action="/organizer">
                <input type="text" name="goal_name" placeholder="Your Goal's name!">
                <input type="text" name="goal_cost" placeholder="Your Money!">
                <input type="text" name="goal_priority" placeholder="Your Goal's priority!">
                <input type="submit" value="Submit">
            </form>
        </div>

    </body>
</html>
